.Helaskiten{

position: relative;
float:left;
width: 350px;
height: 300px;
border: solid;
background-color: rgba(146, 205, 19, 1.00);
margin-top: 100px;
margin-left: 15%;
border-radius: 10px;
box-shadow: 10px 10px 5px #180606;
}

.head{
width: 105%;
height: 10%;
border: solid;
top:-1%;
position: relative;
left: -10px;
background-color: green;
display: table;
margin:0 auto;
-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
 box-shadow: 10px 10px 5px #180606;
}

.head p{
text-align: center;
	}

.ruta{

width: 100%;
height: 78%;    /*78*/
top:-2%;
position: relative;
background-color: rgba(146, 205, 19, 1.00);
border-radius: 10px;

	}

	.ruta p{
		text-align: center;
	}

.Storskit{
	position: absolute;
	z-index: -420;
	width: 80%;
	height: 60%;
	background-color: #216336;
	border: solid;
	margin-top: 50px;
	margin-left: 100px;

	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
 box-shadow: 10px 10px 5px #180606;
}

} 